<ion-header>
  <ion-navbar *ngIf="selecteds.length  === 0" color="primary">
    <button ion-button icon-only menuToggle="">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'literals.visitors' | trans}}</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="selecteds.length>0">
    <button ion-button clear block color="favorite" (click)="addVisit(selecteds)">
          {{'literals.generate' | trans }}
          {{'literals.visit' | trans }}
        </button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="query" debounce="500" (ionInput)="filter()"></ion-searchbar>
  <ion-list>
    <input type="file" accept="image/*" style="display:none;" id="input-file" (change)="readFile($event)">
    <button ion-item *ngFor="let visitor of visitors" (tap)="selecteds.length>0? toggleSelect(visitor) :actions(visitor)" (press)="toggleSelect(visitor);">
      <ion-avatar item-left (click)="askFile(visitor);$event.stopPropagation()" *ngIf="!visitor.selected">
        <img [src]="visitor.image_url" alt="visitor.name">
      </ion-avatar>
      <ion-icon name="checkmark-circle" color="favorite" item-left *ngIf="visitor.selected"></ion-icon>
      <h2>
        {{visitor.name}}
      </h2>
      <p>
        {{visitor.document}}
      </p>
    </button>
  </ion-list>
  <ion-fab bottom right *ngIf="selecteds.length === 0">
    <button ion-fab (click)="addVisitor()">
      <ion-icon name="person-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
