<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      <span *ngIf="!pet.id">
        {{'crud.add' | trans }}
      </span>
      <span *ngIf="pet.id">
         {{'crud.edit' | trans }}
      </span> {{ 'literals.pet' | trans }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-icon small name="md-paw" item-left></ion-icon>
      <ion-label floating="">{{ 'literals.name' | trans }}</ion-label>
      <ion-input [(ngModel)]="pet.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon small name="folder" item-left></ion-icon>
      <ion-label floating="">{{'literals.document' | trans }}</ion-label>
      <ion-input [(ngModel)]="pet.document"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon small name="ios-paw" item-left></ion-icon>
      <ion-label floating="">{{'literals.specie' | trans }}</ion-label>
      <ion-input [(ngModel)]="pet.specie"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon small name="ios-paw-outline" item-left></ion-icon>
      <ion-label floating="">{{'literals.breed' | trans }}</ion-label>
      <ion-input type="text" [(ngModel)]="pet.breed"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon small name="color-palette" item-left></ion-icon>
      <ion-label floating="">{{'literals.color' | trans }}</ion-label>
      <ion-input type="text" [(ngModel)]="pet.color"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon small name="transgender" item-left></ion-icon>
      <ion-label floating="">{{'literals.sex' | trans }}</ion-label>
      <ion-select [(ngModel)]="pet.sex">
        <ion-option value="male"> {{ 'literals.male' | trans}}</ion-option>
        <ion-option value="female"> {{ 'literals.female' | trans}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full [disabled]="!canSave()" color="secondary" icon-left (click)="save()">
        <ion-icon class="fa fa-save" ></ion-icon>
        {{ 'crud.save' | trans }}
    </button>
  </ion-toolbar>
</ion-footer>
