<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
       <ion-icon name="menu"></ion-icon>
     </button>
    <ion-title>{{'literals.posts' | trans }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="getPosts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let post of posts; let i=index">
    <ion-card-header color="primary">
      {{post.title}}
    </ion-card-header>
    <ion-card-content>
      <div text-center *ngIf="post.image">
        <img [src]="post.image.url" style="margin: 0 auto;width:90%; max-height:180px;">
      </div>
      <div [innerHTML]="post.text" text-justify>
      </div>
      <ion-chip *ngFor="let tag of post.tags;let i = index">
        <ion-label>
          {{tag.name}}
        </ion-label>
      </ion-chip>
      <ion-item *ngIf="post.user" text-justify>
        <ion-avatar item-left>
          <img [src]="post.user.image_url" alt="profile" style="width:40px;height:40px; border-radius:50%">
        </ion-avatar>
        <p *ngIf="post.user">
          {{post.user.name}}
        </p>
        <small>
          {{post.created_at | amCalendar}}
        </small>
        <button *ngIf="api.user.id == post.user_id" (click)="deletePost(post,i)" ion-button icon-only clear color="danger">
            <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div style="height:100px"></div>
  <ion-fab bottom right>
    <button ion-fab (click)="createPost()">
        <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>
</ion-content>
