<ion-header>

    <ion-navbar color="dark">
        <ion-title>{{'crud.add' | trans }} {{ 'literals.visit' | trans }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item *ngIf="visitor && visitor.id">
            <ion-label floating> {{'literals.visitor' | trans }} </ion-label>
            <ion-select [(ngModel)]="visitor.id" disabled="true">
                <ion-option [value]="visitor.id">{{visitor.name}}</ion-option>
            </ion-select>
        </ion-item>
        <div *ngIf="visitors.length > 0">
            <ion-list-header>{{'literals.visitors' | trans}}</ion-list-header>
            <ion-item *ngFor="let person of visitors">
                <ion-avatar item-left *ngIf="person.image_url">
                    <img [src]="person.image_url" [alt]="person.name">
                </ion-avatar>
                {{person.name}} {{person.document}}
            </ion-item>
        </div>
        <ion-item>
            <ion-label floating> {{'literals.notes' | trans }} </ion-label>
            <ion-textarea [(ngModel)]="visit.note"></ion-textarea>
        </ion-item>


    </ion-list>
</ion-content>
<ion-footer>
    <button ion-button full color="secondary" icon-left (click)="create()">
    <ion-icon name="add"></ion-icon>
    {{'crud.add' | trans }} {{'literals.visit' | trans }}
  </button>
</ion-footer>