<ion-header>

    <ion-navbar color="secondary">
        <ion-title>{{event.title}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <ion-card-title text-center>
            {{event.title}}
        </ion-card-title>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-icon item-left color="secondary" name="alarm"></ion-icon>
                    {{ '__.date start' | trans}}
                    <span item-right>{{event.start | amCalendar }}</span>
                </ion-item>
                <ion-item>
                    <ion-icon item-left color="danger" name="alarm"></ion-icon>
                    {{ '__.date end' | trans}}
                    <span item-right>{{event.end | amCalendar }}</span>
                </ion-item>
                <ion-item>
                    <ion-icon item-left color="primary" name="calendar"></ion-icon>
                    {{ 'literals.type' | trans}}
                    <span item-right>{{ '__.'+ event.type |  trans }}</span>
                </ion-item>
                <ion-item>
                    <ion-icon item-left [color]="event.privacity == 'public' ? 'success' : 'danger' " [name]="event.privacity == 'public' ? 'unlock' : 'lock' "></ion-icon>
                    {{ 'literals.privacity' | trans}}
                    <span item-right>{{ '__.'+ event.privacity |  trans }}</span>
                </ion-item>
                <ion-item *ngIf="event.zones">
                    <ion-icon item-left color="warning" name="partly-sunny"></ion-icon>
                    {{ 'literals.zones' | trans}}:
                    <span item-right> 
                       <span *ngFor="let zone of event.zones">{{ zone.name }} </span>
                    </span>
                </ion-item>
                <ion-item *ngIf="event.creator">
                    <ion-icon item-left color="primary" name="person"></ion-icon>
                    {{ 'literals.creator' | trans}}
                    <span item-right>{{ event.creator.name }}</span>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
