<ion-header>

  <ion-navbar color="success">
    <ion-title>{{'crud.add' | trans }} {{'literals.chat' | trans }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let residence of residences" (click)="createChat(residence)">
      <h3>{{residence.name}}</h3>
      <p *ngIf="residence.owner" >{{residence.owner.name}}</p>
    </button>
  </ion-list>
</ion-content>
