<ion-content>
  <ion-toolbar color="primary">
    <ion-title>
      {{ '__.you have a new visit' | trans }}
    </ion-title>
  </ion-toolbar>
  <div text-center *ngIf="visit.visitor">
    <img [src]="visit.visitor.image_url" alt="" style="border-radius:50%; height:70px">
  </div>
  <h4 text-center *ngIf="visit.visitor">
    {{ visit.visitor.name }}
  </h4>
  <ion-list *ngIf="visit.visitors && visit.visitors.length > 1">
    <ion-item *ngFor="let person of visit.visitors">
      <ion-avatar item-left>
        <img [src]="person.image_url" [alt]="person.name">
      </ion-avatar>
      <span>{{person.name}}</span>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col><button (click)="confirm()" ion-button full color="secondary">{{'literals.confirm' | trans}}</button></ion-col>
      <ion-col><button (click)="reject()" ion-button full color="danger">{{'literals.reject' | trans }}</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
