<ion-header>

    <ion-navbar color="secondary">
        <ion-title>{{'crud.add' | trans }} {{'literals.event' | trans}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label stacked>{{'literals.title' | trans}}</ion-label>
        <ion-input [(ngModel)]="newEvent.title" type="text" min="3" max="30"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>{{'__.date start' | trans }}</ion-label>
        <ion-datetime displayFormat="YYYY MMM DD HH mm" pickerFormat="YYYY MMM DD HH mm" [(ngModel)]="newEvent.start"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>{{'__.date end' | trans }}</ion-label>
        <ion-datetime displayFormat="YYYY MMM DD HH mm" pickerFormat="YYYY MMM DD HH mm" [(ngModel)]="newEvent.end"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>{{ 'literals.privacity' | trans }}</ion-label>
        <ion-select [(ngModel)]="newEvent.privacity">
            <ion-option [value]="privacity" *ngFor="let privacity of privacies">
                {{'__.'+ privacity | trans }}
            </ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>{{ 'literals.type' | trans }}</ion-label>
        <ion-select [(ngModel)]="newEvent.type">
            <ion-option value="no specified">{{'__.no specified' | trans }}</ion-option>
            <ion-option [value]="type" *ngFor="let type of types">
                {{'__.'+ type | trans }}
            </ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>{{'literals.zones' | trans }}</ion-label>
        <ion-select [(ngModel)]="newEvent.zones" multiple="true">
            <ion-option [value]="zone.id" *ngFor="let zone of zones">{{ zone.name }}</ion-option>
        </ion-select>
    </ion-item>
</ion-content>
<ion-footer>
    <button ion-button (click)="addEvent()" [disabled]="!can()" full color="secondary">
      {{'crud.add' | trans }} {{'literals.event' | trans}}
    </button>
</ion-footer>