<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'literals.visits' | trans }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="getVisits($event)">>
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list [virtualScroll]="visits">
    <button ion-item *virtualItem="let visit" (click)="viewVisit(visit)">
      <div *ngIf="visit.visitor;else unkown">
        <h2>{{ visit.visitor.name }}
          <span *ngIf="visit.visitors && visit.visitors.length > 1">{{'__.and others' | trans }} {{visit.visitors.length - 1}}</span>
        </h2>
        <p> {{ visit.visitor.document}}</p>
        <p *ngIf="visit.user">
            {{'literals.user' | trans }}:  {{ visit.user.name }}
        </p>
      </div>
      <ng-template #unkown>
        {{'literals.visitante desconocido' | trans }}
      </ng-template>
      <span item-right ion-text [color]="visit.status == 'approved' ? 'success' : 'dark' ">
            {{ 'literals.'+ visit.status | trans  }}
          <br>
          <small  style="color:black;">
            {{ visit.created_at  | amCalendar}}
          </small>
        </span>
    </button>
  </ion-list>
  <!-- <ion-infinite-scroll (ionInfinite)="loadMoreVisits($event)" [enabled]="visits.length!=0 && enable_loader">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
