<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle icon-only>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'literals.reservations' | trans}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-card *ngFor="let zone of zones">
        <img [src]="zone.image_url" style="max-height:200px;width:100%">

        <ion-item>
            <ion-icon color="primary" name="pin" item-start large></ion-icon>
            <h2>{{zone.name}}</h2>
            <p>{{zone.description}}</p>
        </ion-item>

        <ion-item>
            <ion-icon color="secondary" name="cash" item-start large></ion-icon>
            <h2>
                {{'literals.price' | trans }} ( x {{'literals.user' | trans }})
            </h2>
            <p *ngIf="zone.price>0">{{zone.price | currency:'USD'}}</p>
            <p *ngIf="zone.price===0">{{ 'literals.free' | trans }}</p>
        </ion-item>

        <ion-item>
            <ion-icon color="favorite" name="clock" item-start large></ion-icon>
            <h2>
                {{'literals.schedule' | trans }}
            </h2>
            <p *ngIf="zone.start">
                {{zone.start | amParse: 'HH:mm' | amDateFormat:'hh:mm A' }}
                <span *ngIf="zone.end"> - {{ zone.end | amParse: 'HH:mm' | amDateFormat:'hh:mm A'  }}</span>
            </p>
            <p *ngIf="zone.interval">
                {{'literals.every' | trans }}: {{ humanize(zone.interval) }}
            </p>
        </ion-item>

        <ion-item *ngIf="zone.days">
            <ion-icon color="warning" name="calendar" item-start large></ion-icon>
            <h2>
                {{'date.days' | trans }}
            </h2>
            <span *ngFor="let day of zone.days" style="white-space:normal">
              {{'date.'+ day | trans }}
            </span>
        </ion-item>


        <ion-item (tap)="reservate(zone)">
            <button ion-button clear item-end>
        {{'literals.reservate' | trans }}
      </button>
            <span ion-datepicker [disabledDates]="disabledDates" [localeStrings]="locale" (ionChanged)="setDate($event,zone)" [value]="date" [min]="min" clear class="ScheduleDate"></span>
        </ion-item>

    </ion-card>
</ion-content>