page-invoices {
  .invoice-card {
    &.unpaid {
      border-top: 10px solid color($colors, 'danger');
    }
    &.paid {
      border-top: 10px solid color($colors, 'success');
    }
  }
}

.popover-content {
  width: 90% !important;
  left: 5% !important;
  top: 20% !important;
}
