<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{'literals.vehicles' | trans }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="query" debounce="500" (ionInput)="filter()"></ion-searchbar>
  <ion-list>
    <input type="file" accept="image/*" style="display:none;" id="input-file-vehicle" (change)="readFile($event)">
    <button ion-item *ngFor="let vehicle of vehicles" (click)="actions(vehicle)">
      <ion-avatar item-left (click)="askFile(vehicle);$event.stopPropagation()">
        <img *ngIf="vehicle.image_url"  [src]="vehicle.image_url" [alt]="vehicle.name">
        <ion-icon name="camera"  *ngIf="!vehicle.image_url"></ion-icon>
      </ion-avatar>
      {{vehicle.name}}
    </button>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab (click)="addVehicle()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
